# Credentials & Keys
password_rsa_key  = "ssh-rsa" # REPLACE with actual key
ssh_public_key      = "ssh-ed25519"
linux_password_hash = ""                        # Keep empty if not using passwords, or replace with hash

# Network Configuration
external_network_name = "ext-floating1"
intranet_cidr         = "10.92.0.0/24"

# Bastion Proxy Configuration
bastion_proxy_flavor = "a2-ram4-disk20-perf1"
bastion_volume_size  = 20

# Standard Linux VMs Provisioning
linux_image_regex = "^Ubuntu 24.04 LTS"
linux_volume_size = 20

linux_vms = {
  "instance-1" = {
    flavor            = "a2-ram4-disk0"
    availability_zone = "az-1"
    static_ip         = null # DHCP Mode enabled for dynamic provisioning
  }
  "instance-2" = {
    flavor            = "a2-ram4-disk0"
    availability_zone = "az-2"
    static_ip         = "10.92.0.10"
  }
  # Example to configure a static server:
  # "instance-static" = {
  #   flavor            = "a4-ram8-disk0"
  #   availability_zone = "az-1"
  #   static_ip         = "10.92.0.10"
  # }
}

# WireGuard Configuration
wg_subnet_cidr        = ""
wg_server_address     = ""
wg_client_allowed_ips = ""

wg_server_private_key = ""
wg_server_public_key  = ""

wg_client_public_key = ""
wg_preshared_key     = "" # Keep empty ("") if not using preshared key, or optionally replace
