[defaults]
inventory = inventory/hosts.yml
#private_key_file = /home/dragon/.ssh/ansible_id_ed25519
private_key_file = /home/dragon/.ssh/id_rsa
host_key_checking = False
roles_path = roles/
remote_user = ansible
become = true
become_method = sudo

callback_plugins = ./callback_plugins
stdout_callback = prettify


[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
